{% comment %} {% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="text-center centr">
    <h3>About tool:</h3>
    <p>OCR na Tekście: Aplikacja umożliwia użytkownikom przesłanie zdjęcia lub skanu testu papierowego. Następnie wykorzystuje Google Cloud Vision do przetwarzania obrazu i rozpoznawania treści tekstowej z testu. To pozwala na szybkie i dokładne przeniesienie treści do formatu elektronicznego.</p>
    <p>Pytania i Odpowiedzi: Po rozpoznaniu treści tekstu, aplikacja identyfikuje pytania na teście i ekstrahuje je.
    <p>Interakcja z ChatGPT: Aplikacja wykorzystuje ChatGPT, zaawansowany model języka oparty na sztucznej inteligencji, aby pomóc użytkownikom w rozwiązywaniu pytań i zadań na podstawie treści testu.</p>
    
</div>


<div class="d-flex justify-content-center">
    <a href="magic" class="btn btn-outline-primary me-2">Go to the Lens GPT</a>
</div>

{% else %}
<div class="d-flex justify-content-center">
    <h1> You must be logged in to use the tool</h1>
</div>
{% endif %}
{% endblock %} {% endcomment %}