{% extends 'base.html' %}
{% load custom_filters %}


{% block content %}
<div class="container text-center">
  <h3>{{ object.title }}</h3>
  {% if object.questions_and_answers %}
  {% for question, answer in object.questions_and_answers.questions|zip:object.questions_and_answers.answers %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Question {{ forloop.counter }}:</h5>
            <p class="card-text">{{ question }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Answer {{ forloop.counter }}:</h5>
            <p class="card-text"> {{ answer }} </p>
            <div class="b-example-divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
    {% else %}
    <p>No questions and answers available.</p>
  {% endif %}
</div>
{% endblock %}