{% extends 'base.html' %}
{% block style %}
<style>
    .messages-box {
        flex: 1;
        overflow-y: auto;
    }

    li.message.received,
    li.message.sent {
        border-radius: 20px;
    }

    .messages-list {
        padding-left: 0;
    }

    .message {
        margin-bottom: 15px;
        list-style: none;
    }

    .message-text {
        padding: 10px;
        border-radius: 5px;
    }

    .sent {
        background-color: #dcf8c6;
        align-self: flex-end;
        color: #000000;
    }

    .received {
        background-color: #474953;
        align-self: flex-start;
    }

    .message-form {
        display: flex;
        position: sticky;
        bottom: 0;
        padding: 10px;
    }

    .chat-container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .message-input {
        flex: 1;
        border-radius: 40;
        border-right: none;
    }
</style>
{% endblock style %}


{% block content %}
{% if user.is_authenticated %}
<div class="chat-container centr mt-4">
    <div class="card flex-grow-1">
        <div class="card-header bg-warning text-white"><b>Chat</b></div>
        <div class="card-body messages-box">

            <ul class="list-unstyled messages-list">

                <li class="message received">
                    <div class="message-text">
                        <div class="message-sender">
                            <b>AI Chatbot</b>
                        </div>
                        <div class="message-content">
                            Hi, I am your AI Chatbot, you can ask me anything.
                        </div>
                    </div>
                </li>

                {% for chat in chats %}
                {% if chat.user == request.user %}
                <li class="message sent">
                    <div class="message-text">
                        <div class="message-sender">
                            <b>You</b>
                        </div>
                        <div class="message-content">
                            {{chat.message}}
                        </div>
                    </div>
                </li>

                <li class="message received">
                    <div class="message-text">
                        <div class="message-sender">
                            <b>AI Chatbot</b>
                        </div>
                        <div class="message-content">
                            {{chat.response}}
                        </div>
                    </div>
                </li>

                {% endif %}
                {% endfor %}
            </ul>

        </div>

        <form class="message-form ">
            {%csrf_token%}
            <div class="input-group centr">
                <input type="text" class="form-control message-input" placeholder="Type your message...">
                <div class="input-group-append">
                    <div class="d-flex">
                        <button type="submit" class="btn btn-secondary btn-send">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-send" viewBox="0 0 16 16">
                                <path
                                    d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>


{% else %}

<div class="alert alert-warning alert-dismissible fade show text-center mt-4">
    <strong>Warning!</strong> You must be logged in to use the tool.
</div>
  {% endif %}



<script>
    const messagesList = document.querySelector('.messages-list');
    const messageForm = document.querySelector('.message-form');
    const messageInput = document.querySelector('.message-input');

    messageForm.addEventListener('submit', (event) => {
        event.preventDefault();

        const message = messageInput.value.trim();
        if (message.length === 0) {
            return;
        }

        const messageItem = document.createElement('li')
        messageItem.classList.add('message', 'sent');
        messageItem.innerHTML = `
            <div class="message-text">
                <div class="message-sender">
                    <b>You</b>
                </div>
                <div class="message-content">
                    ${message}
                </div>
            </div>`;
        messagesList.appendChild(messageItem);
        messageInput.value = '';

        fetch('', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({
                    'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]')
                        .value,
                    'message': message
                })
            })
            .then(response => response.json())
            .then(data => {
                const response = data.response;
                const messageItem = document.createElement('li');
                messageItem.classList.add('message', 'received');
                messageItem.innerHTML = `
              <div class="message-text">
                  <div class="message-sender">
                    <b>AI Chatbot</b>
                  </div>
                  <div class="message-content">
                      ${response}
                  </div>
              </div>
                `;
                messagesList.appendChild(messageItem);
            });
    });
</script>
{% endblock content %}