{% extends "base.html" %}

{% block content %}
<div class="centr text-center">
  <h2>Edit Your Profile</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
</div>
{% endblock %}