{% extends "base.html" %}

{% block content %}
<div class="centr text-center">
  <h2 class="my-4">Your Profile</h2>
  {% comment %} <div class="card" style="width: 18rem;"> {% endcomment %}
    {% if user.avatar %}
    <img src="{{ user.avatar.url }}" class="rounded-circle" alt="Avatar" width="128" height="128">
    {% comment %} {% else %}
    <img src="{% static 'default-avatar.png' %}" class="card-img-top" alt="Default Avatar"> {% endcomment %}
    {% endif %}

    <div class="card-body">
      <h4 class="card-title">{{ user.username }}</h4>
      <p class="card-text mt-2 mb-0">Email: {{ user.email }}</p>
      {% if user.description %}
      <p>Description: {{ user.description }}</p>
      {% endif %}

    </div>
    <p><a href="/accounts/edit_profile">Edit profile</a></p>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
  </div>
  {% comment %}
</div> {% endcomment %}
{% endblock %}