{% extends "base.html" %}
{% load static %}

{% block style %}
<style>
    .navbar-toggler {
        margin: 0 auto;
      }
</style>
{% endblock style %}

{% block content %}


<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'images/tinytools_logo.png'%}" alt="" width="75" height="75">
    <h1 class="display-5 fw-bold text-body-emphasis" style="color: gold !important;">
    Contact <span style="color: white;">me</span>
    </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Feel free to provide me with feedback! Or if you like my work, I encourage collaboration :)
        </p>
        <div class="text-center">
            <div class="row">
                <div class="col-md-6 py-3">
                    <a href="https://www.linkedin.com/in/adam-poszyler-a39673217"
                        style="text-decoration:none; color:gold">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            class="bi bi-linkedin" viewBox="0 0 16 16">
                            <path
                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                        </svg>

                        <h1 class="mt-2" style="color: gold !important;">
                            Linked<span style="color: white;">in</span>
                            </h1>
                    </a>
                </div>
                <div class="col-md-6 py-3">
                    <a href="https://gitlab.com/vilis" style="text-decoration:none; color:gold">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            class="bi bi-gitlab" viewBox="0 0 16 16">
                            <path
                                d="m15.734 6.1-.022-.058L13.534.358a.568.568 0 0 0-.563-.356.583.583 0 0 0-.328.122.582.582 0 0 0-.193.294l-1.47 4.499H5.025l-1.47-4.5A.572.572 0 0 0 2.47.358L.289 6.04l-.022.057A4.044 4.044 0 0 0 1.61 10.77l.007.006.02.014 3.318 2.485 1.64 1.242 1 .755a.673.673 0 0 0 .814 0l1-.755 1.64-1.242 3.338-2.5.009-.007a4.046 4.046 0 0 0 1.34-4.668Z" />
                        </svg>

                        <h1 class="mt-2" style="color: gold !important;">
                            Git<span style="color: white;">lab</span>
                            </h1>
                            
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}