{% extends "base.html" %}
{% load static %}
{% block style %}
<style>
  html {
    width: 100vw;
  }

  body {
    overflow-x: hidden;
  }

  .navbar-toggler {
    margin: 0 auto;
  }
</style>
{% endblock style %}

{% block content %}
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">

  <symbol id="speedometer2" viewBox="0 0 16 16">
    <path
      d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
    <path fill-rule="evenodd"
      d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
  </symbol>

  <symbol id="people-circle" viewBox="0 0 16 16">
    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
    <path fill-rule="evenodd"
      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
  </symbol>


  <symbol id="tools" viewBox="0 0 16 16">
    <path
      d="M1 0L0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z" />
  </symbol>

  <symbol id="geo-fill" viewBox="0 0 16 16">
    <path fill-rule="evenodd"
      d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z" />
  </symbol>
</svg>


<div class="row row-cols-1 row-cols-md-3 g-4 centr mt-3 container-fluid">
  <div class="col">
    <div class="card h-100">
      <a href="lens_gpt">
        <img src="{% static 'images/lensgpt_logo.jpg' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">Lens GPT</h5>
        <p class="card-text">Tool which solves exams</p>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <a class="btn btn-warning" href="lens_gpt" role="button">Tool</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <a href="ask_gpt">
        <img src="{% static 'images/ask_gpt_logo.jpeg' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">Ask GPT</h5>
        <p class="card-text">AI Chatbot will answer your questions!</p>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <a class="btn btn-warning" href="ask_gpt" role="button">Tool</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/question_mark.jpeg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">...</h5>
        <p class="card-text">Next tools comming soon!</p>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <a class="btn btn-warning" href="#" role="button">???</a>
      </div>
    </div>
  </div>

</div>
<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="{%static 'images/tinytools_logo.png'%}" alt="" width="100" height="100">
  <h1 class="display-5 fw-bold text-body-emphasis">Tiny Tools - AI powered platform</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Have you ever dreamt of a website that can instantly answer your questions or help you solve
      a
      test? Our advanced platform, powered by the mighty GPT-4, is here to assist you.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4">
  <div class="row flex-lg-row-reverse align-items-center g-5 ">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'images/ask_gpt_logo.jpeg'%}" class="d-block mx-lg-auto img-fluid rounded-circle"
        alt="Bootstrap Themes" width="500" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Ask GPT - AI chatbot</h1>
      <p class="lead">AI chatbot powered by GPT-4 analyzes your question and provides precise answers based on the
        latest knowledge.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-warning btn-lg px-4 me-md-2">Tool</button>
      </div>
    </div>
  </div>
</div>
{% comment %} {% endcomment %}
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5">
    <div class="col-10 col-sm-8 col-lg-6 order-lg-2">
      <img src="{% static 'images/lensgpt_logo.jpg'%}" class="d-block mx-lg-auto img-fluid rounded-circle"
        alt="Bootstrap Themes" width="500" height="500" loading="lazy">
    </div>
    <div class="col-lg-6 order-lg-1">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Lens GPT - Test solver</h1>
      <p class="lead">Our GPT-4 intelligence analyzes the test content and generates answers to the questions within
        it.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-warning btn-lg px-4 me-md-2">Tool</button>
      </div>
    </div>
  </div>
</div>

<div class="container px-4 py-5">
  <h1 class="display-5 fw-bold text-body-emphasis text-center border-bottom">Why to choose our website?</h1>

  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h2 class="fw-bold text-body-emphasis">Platform like never before</h2>
      <p class="text-body-secondary">Join us on this exhilarating journey where the fusion of passion and technology
        knows no bounds. As we continue to grow and improve, we invite you to be part of our community, where your
        feedback and ideas shape the future of our dynamic platform.

      </p>
      <a href="" class="btn btn-warning btn-lg">Start</a>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-warning bg-gradient fs-4 rounded-3"
            style="max-width: 48px; height: 48px">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#tools" />
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">GPT-4 Expertise</h4>
          <p class="text-body-secondary">Our website utilizes the latest version of artificial intelligence, GPT-4,
            which is an excellent companion for addressing your inquiries. With a 10-year track record in content
            creation, our platform is capable of delivering high-quality answers to a wide range of questions
          </p>

        </div>

        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-warning bg-gradient fs-4 rounded-3"
            style="max-width: 48px; height: 48px">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#speedometer2" />
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Speed and Efficiency</h4>
          <p class="text-body-secondary">We don't waste time. Input your question or upload a test image, and our
            website will provide you with answers or solutions in the blink of an eye. Regardless of the difficulty
            level, our platform is ready to assist you</p>


        </div>

        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-warning bg-gradient fs-4 rounded-3"
            style="max-width: 48px; height: 48px">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#people-circle" />
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">User-Friendly</h4>
          <p class="text-body-secondary">Our website's interface is intuitive and user-friendly. Even if you're not
            tech-savvy, using our platform is simple and convenient</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-warning bg-gradient fs-4 rounded-3"
            style="max-width: 48px; height: 48px">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#geo-fill" />
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Security and Privacy</h4>
          <p class="text-body-secondary">We care about your data. All information you provide on our website is
            treated
            with the utmost confidentiality. You don't have to worry about your privacy</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}